
.challenge-list{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
  
  .challenge-item{
    height : 260px;
    width: 300px;
    margin:10px;
    border-radius:20px;
    box-shadow:5px 5px 20px rgba(0, 0, 0, 0.3);

    img{
      display: block;
      width:280px;
      margin: 10px auto;
      border-radius: 20px;
    }

    h4{
      margin-left:10px;
    }

    .start-challenge{
      height:30px;
      width:150px;
      border:none;
      border-radius: 5px;
      float:right;
      clear:both;
      margin-right:10px;
      position:relative;
      bottom:-10px;
    }
  }
  }