@import 'variable';

#body-login-signup{
    overflow:hidden;
    
    // overflow-x: visible;
    

    .body-login-signup{
        height:100vh;
        background-image: linear-gradient(to right, #000F43 , #004D94);
        padding-top:3%;

        .container-form{
            height:85%;
            width : 80%;
            margin:auto;
            border-radius:20px;
            overflow: hidden;
            display:flex;
            flex-direction:row;

            .login-form{
                position: absolute;
                left : -20px;
                width:70%;


                .login-form-inside{
                    width : 70%;
                    margin : auto;

                    input{
                        width : 65%;

                        &:focus{
                            border : 1px solid $main-color;
                        }
                    }

                    input[type=button]{
                        width : 40%;

                        &:focus{
                            border:1px solid $main-color;
                        }
                    }
                }
            }
            .transition-form{
                position: relative;
                right:-70%;
                z-index : 9999999;
                margin-right:0;
                display:flex;
                flex-direction: row;
                border-radius:0px;
            }
            .to-sign-up{
                @include first-property;

                &:before{
                    content: '';
                    position: absolute;
                    height:100%;
                    top: 0;
                    bottom: 0;
                    right: 10%;
                    left: -50%;
                    background: inherit;
                    border-radius: 10% / 50%;
                }

                @include image-heading;
                @include button-transition-effect("\f104");
            }
            .empty-div-form{
                position:relative;
                width:90vw;
                height:100%;
                background:$main-color;
                border-radius: 0px;
            }
            .to-login{
                @include first-property;
                border-radius: 10%/50%;

                &:before{
                    content: '';
                    position: absolute;
                    height:100%;
                    top: 0;
                    bottom: 0;
                    right: 10%;
                    left: -50%;
                    background: inherit;
                    
                }

                @include image-heading;

                @include button-transition-effect("\f105");              

            }

            .sign-up-form{
                margin-top : 50px;
                overflow: hidden;
                position:absolute;
                left : 40%;
                height:100%;
                width : 40vw;
                
                
                .signup-page-1, .signup-page-2, .signup-page-3, .signup-page-4{
                    width : 36vw;
                    position: absolute;
                    transition: 1.5s;
                }

                .signup-page-1{
                    
                    left : 0px;
                    right : 0px;
                    
                    
                    

                    .phone-number{
                        width : 100%;
                        .value-phone{
                            width:20%;
                        }

                        .phone-number-input{
                            width:70%;
                        }

                    }
                }
                .signup-page-2, .signup-page-3, .signup-page-4{
                    left : 1200px;
                }


                
                
                

                
            }
        }

        

    .card-container {
        margin-bottom: 30px;
        width: 80%;
        height:50%;
        margin: 0 auto;
        border-radius:20px;
       
        /* flip speed goes here */
        .card {
            border:none;
            transition: transform .85s;
            transform-style: preserve-3d;
            position: relative;
            background: #FFFFFF;
            border-radius: 20px;
           
            

            .content{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0);
                box-shadow: none;
                flex: 1;
                
            }
            .footer {
                
                
                color:white;
                padding: 5px 0 5px 0;
                text-align: center;
                border-radius: 0 0 20px 20px;
            }

            /* hide back of pane during swap */
            .login-form-mobile, .signup-form-mobile {
                backface-visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #FFF;
                box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.2);
                display: flex;
                flex-direction: column;
                height: 500px;
                border-radius: 4px;
                width: 100%;
                
                border-radius: 20px;
                
            }

            /* front pane, placed above back */
            .login-form-mobile {
                z-index: 2;
            }
            
            /* back, initially hidden pane */
            .signup-form-mobile {
                transform: rotateY(180deg);
                z-index: 3;


                .signup-page-1-mobile, .signup-page-2-mobile, .signup-page-3-mobile, .signup-page-4-mobile{
                    width:90%;
                    position: absolute;
                    top : 150px;
                    left : 10px;
                    transition: 1.5s;
                    border-radius: 20px;
                }

                .signup-page-1-mobile{
                    
                    .phone-number{
                        
                        .value-phone{
                            width:20%;
                        }

                        .number-input{
                            width:70%;
                        }
                    }
                }

                .signup-page-2-mobile, .signup-page-3-mobile, .signup-page-4-mobile{
                    
                    left : 800px;
                }

                .footer{
                    width : 100%;
                    position: fixed;
                    bottom : 0px;
                }

            }
    
            .btn {
                border: none;
                border-radius: 2px;
                display: inline-block;
                height: 36px;
                line-height: 36px;
                padding: 0 16px;
                font-family: inherit;
                font-weight: 100;
                text-align: center;
                vertical-align: middle;
                user-select: none;
                outline: none;
                border: none;
                cursor: pointer;
                transition: .4s;
            }
            
            .btn-rotate {
                color: #212529;
                background-color: #ddd;
            }
            
            .btn-rotate:hover {
                color: #212529;
                background-color: #ccc;
            }
            
            .btn-rotate:focus{
                outline: none;
                border: none;
            }
            
            .btn-submit {
                width: 50%;
                margin: 0 auto;
                border-radius: 20px;
                text-transform: uppercase;
                color: #212529;
                font-weight: bold;
                background-color: #809BE0;
            }
            
            .btn-submit:hover {
                color: #212529;
                background-color: #4D8CDE;
            }
            
            .btn-submit:focus{
                outline: none;
                border: none;
            }
            
            form{
                width: 100%;
            }
            
            
            
            
            .see-password{
                position: absolute;
                right: 10px;
                padding-bottom: 5px;
                cursor: pointer;
            }
            
            .group input{
                padding-right: 40px;
            }
}
        
        




        }
        /* flip the pane when hovered */
        .card-container.rotate .card{
            transform: rotateY( 180deg );
        }
        

    }

    
    

    
}
    

@media screen and (max-width:670px){
    body{
        overflow:hidden;
    }
}

/* Progressbar */
.progressbar, .progressbar-mobile {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 2rem;
  }
  
  .progressbar::before,
  .progress, .progressbar-mobile::before,
  .progress-mobile {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: white;
    z-index:-1;
  }
  
  .progress, .progress-mobile {
    background-color: $main-color;
    width: 0%;
    z-index:1;
    transition: 1.5s;
  }
  
  .progress-step, .progress-step-mobile {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: white;
    color:$main-color;
    border:1px solid $main-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:2;
  }
  
  .progress-step::before,.progress-step-mobile::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after, .progress-step-mobile::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: white;
  }
  
  .progress-step-active, .progress-step-active-mobile {
    background-color: $main-color;
    color: white;
  }