@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.not-visible {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.bg-main {
  background-color: #000929;
}

.btn-active {
  background-color: #000929;
  color: white;
}

.btn-active:hover {
  background-color: #00061b;
  color: white;
  cursor: pointer;
}

.btn-outline-active {
  background-color: white;
  color: #000929;
  border: 1px solid #000929;
}

.btn-outline-active:hover {
  background-color: #00061b;
  color: white;
  cursor: pointer;
}

.red-color-text {
  color: #A30404;
}

.btn-white {
  background-color: #fff;
  color: var(--main-color);
}

.btn-outline-white {
  background-color: #000929;
  color: white;
  border: 1px solid white;
}

.btn-outline-white:hover {
  background-color: white;
  color: #000929;
  cursor: pointer;
}

.text-to-center {
  text-align: center;
}

.margin-auto {
  margin: 0px auto;
}

.myBtn {
  height: 2.5rem;
  width: 8rem;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #00061b;
          box-shadow: inset 0 0 6px #00061b;
  background-color: #000929;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #000929;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #03e0de), color-stop(0.72, #0bb0c7), color-stop(0.86, #1094b9));
}

.rotate-180-deg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-item {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.nav-item svg {
  color: white;
}

.nav-item:hover {
  cursor: pointer;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler-icon:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  background-color: #fff;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.learning-path {
  background-color: #fff;
  color: #000929;
  width: 100%;
  height: 60vh;
  padding-top: 5rem;
}

.learning-path h2:hover, .learning-path h6:hover {
  cursor: pointer;
}

.shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ECECEC;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
}

.footer {
  background: #00061b;
}

.footer .logo-needed img {
  width: 40px;
  margin: 0 10px 0 10px;
}

.profile-image-sm {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.circle-left {
  height: 23vh;
  width: 23vh;
  background-color: purple;
  border-radius: 50%;
  -webkit-filter: blur(4rem);
          filter: blur(4rem);
  margin-left: -150px;
}

.circle-right {
  height: 23vh;
  width: 23vh;
  background-color: #00B5DC;
  border-radius: 50%;
  -webkit-filter: blur(4rem);
          filter: blur(4rem);
  margin-right: -250px;
}

.preloading {
  height: 100vh;
  width: 100vw;
  background-color: #000929;
  position: fixed;
  top: 0;
  z-index: 9999999;
}

.preloading figure {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 6.250em;
  height: 6.250em;
  -webkit-animation: rotate 2.4s linear infinite;
          animation: rotate 2.4s linear infinite;
}

.preloading .white {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  -webkit-animation: flash 2.4s linear infinite;
          animation: flash 2.4s linear infinite;
  opacity: 0;
}

.preloading .dot {
  position: absolute;
  margin: auto;
  width: 2.4em;
  height: 2.4em;
  border-radius: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.preloading .dot:nth-child(2) {
  top: 0;
  bottom: 0;
  left: 0;
  background: #1094b9;
  -webkit-animation: dotsY 2.4s linear infinite;
          animation: dotsY 2.4s linear infinite;
}

.preloading .dot:nth-child(3) {
  left: 0;
  right: 0;
  top: 0;
  background: #0bb0c7;
  -webkit-animation: dotsX 2.4s linear infinite;
          animation: dotsX 2.4s linear infinite;
}

.preloading .dot:nth-child(4) {
  top: 0;
  bottom: 0;
  right: 0;
  background: #06cbd3;
  -webkit-animation: dotsY 2.4s linear infinite;
          animation: dotsY 2.4s linear infinite;
}

.preloading .dot:nth-child(5) {
  left: 0;
  right: 0;
  bottom: 0;
  background: #03e0de;
  -webkit-animation: dotsX 2.4s linear infinite;
          animation: dotsX 2.4s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    width: 6.250em;
    height: 6.250em;
  }
  66% {
    width: 2.4em;
    height: 2.4em;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    width: 6.250em;
    height: 6.250em;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    width: 6.250em;
    height: 6.250em;
  }
  66% {
    width: 2.4em;
    height: 2.4em;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    width: 6.250em;
    height: 6.250em;
  }
}

@-webkit-keyframes dotsY {
  66% {
    opacity: .1;
    width: 2.4em;
  }
  77% {
    opacity: 1;
    width: 0;
  }
}

@keyframes dotsY {
  66% {
    opacity: .1;
    width: 2.4em;
  }
  77% {
    opacity: 1;
    width: 0;
  }
}

@-webkit-keyframes dotsX {
  66% {
    opacity: .1;
    height: 2.4em;
  }
  77% {
    opacity: 1;
    height: 0;
  }
}

@keyframes dotsX {
  66% {
    opacity: .1;
    height: 2.4em;
  }
  77% {
    opacity: 1;
    height: 0;
  }
}

@-webkit-keyframes flash {
  33% {
    opacity: 0;
    border-radius: 0%;
  }
  55% {
    opacity: .6;
    border-radius: 100%;
  }
  66% {
    opacity: 0;
  }
}

@keyframes flash {
  33% {
    opacity: 0;
    border-radius: 0%;
  }
  55% {
    opacity: .6;
    border-radius: 100%;
  }
  66% {
    opacity: 0;
  }
}

.banner {
  padding-top: 10%;
  height: 90vh;
}

.banner img {
  width: 80%;
}

.content {
  background-color: #000929;
}

.content .tech {
  border: 1px solid #fff;
  border-radius: 20px;
}

.content img {
  width: 100%;
}

.content video {
  width: 100%;
}

.offers {
  background: #00061b;
}

.offers .image {
  height: 100%;
}

.offers img {
  width: 80%;
}

.offers span {
  color: red;
}

.icon-gradasi {
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  bottom: 0;
  width: 200px;
}

.icon-gradasi img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 10px auto;
  width: 50%;
  height: 50%;
}

.icon-gradasi img:hover {
  cursor: pointer;
}

.web-path img, .android-path img, .ui-ux-path img, .data-science-path img {
  width: 60%;
}

.web-path .list-every-path .the-list, .android-path .list-every-path .the-list, .ui-ux-path .list-every-path .the-list, .data-science-path .list-every-path .the-list {
  width: 50%;
}

.web-path .list-every-path .the-list ul li, .android-path .list-every-path .the-list ul li, .ui-ux-path .list-every-path .the-list ul li, .data-science-path .list-every-path .the-list ul li {
  list-style-type: none;
}

.member {
  background-color: #000d3b;
}

.testimonials #testimonial-slider {
  padding: 50px 20px 35px 20px;
  background: #001357;
  text-align: center;
  border-radius: 10px;
}

.testimonials .testimonial .description {
  font-size: 14px;
  line-height: 26px;
  text-indent: 30px;
  position: relative;
}

.testimonials .testimonial .description:before {
  content: "\f10d";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: -15px;
}

.testimonials .testimonial .title {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
}

.testimonials .testimonial .post {
  display: block;
  font-size: 15px;
}

.testimonials .owl-buttons {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 40%;
  left: 0;
}

.testimonials .owl-buttons .owl-prev,
.testimonials .owl-buttons .owl-next {
  position: absolute;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  background: transparent;
}

.testimonials .owl-buttons .owl-prev:before,
.testimonials .owl-buttons .owl-next:before {
  content: "\f104";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 60px;
  font-weight: 900;
  color: #cacaca;
  line-height: 20px;
  opacity: 0.8;
}

.testimonials .owl-buttons .owl-prev:hover:before,
.testimonials .owl-buttons .owl-next:hover:before {
  opacity: 1;
}

.testimonials .owl-buttons .owl-next {
  left: auto;
  right: 0;
}

.testimonials .owl-buttons .owl-next:before {
  content: "\f105";
}

.testimonials .owl-theme .owl-controls {
  margin-top: 40px;
}

.testimonials .owl-theme .owl-controls div {
  background: transparent;
}

.testimonials .owl-theme .owl-controls .owl-page span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #ccc;
  background: url("../img/home picture/dev/dev1.jpg") no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.testimonials .owl-theme .owl-controls .owl-page:nth-child(2) span {
  background: url("../img/home picture/dev/dev3.jpg") no-repeat;
  background-size: cover;
}

.testimonials .owl-theme .owl-controls .owl-page:nth-child(3) span {
  background: url("../img/home picture/dev/dev2.jpg") no-repeat;
  background-size: cover;
}

.testimonials .owl-theme .owl-controls .owl-page:hover span {
  opacity: 0.5;
}

.testimonials .owl-theme .owl-controls .owl-page.active span, .testimonials .owl-theme .owl-controls .owl-page.active:hover span {
  border-color: #d133ff;
  opacity: 1;
}

.menu-article .btn-category {
  width: 8rem;
}

form {
  width: 100%;
  max-width: 790px;
}

form .inner-form {
  width: 100%;
  margin-bottom: 17px;
}

form .inner-form .input-field {
  width: 100%;
  position: relative;
}

form .inner-form .input-field .search-article {
  width: 100%;
  height: 3rem;
  border: 1px solid #000929;
  border-radius: 50px;
  padding-left: 20px;
}

form .inner-form .input-field .search-article:hover, form .inner-form .input-field .search-article:focus {
  outline: none;
  border: 1px solid #00061b;
}

form .inner-form .input-field .btn-search {
  width: 70px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  align-items: center;
}

form .inner-form .input-field .btn-search:hover, form .inner-form .input-field .btn-search:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

form .inner-form .input-field .btn-search:hover svg, form .inner-form .input-field .btn-search:focus svg {
  fill: #000;
}

form .inner-form .input-field .btn-search svg {
  fill: #333;
  width: 40px;
  height: 40px;
  -webkit-transition: all .2s ease-out, color .2s ease-out;
  transition: all .2s ease-out, color .2s ease-out;
}

.article-list .inner-article-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.article-list .inner-article-list .article-card {
  width: 20rem;
  height: 14rem;
  margin: 20px;
}

.article-list .inner-article-list .article-card:hover {
  cursor: pointer;
}

.article-list .inner-article-list .article-card img {
  width: 100%;
  height: 10rem;
  border-radius: 20px;
}

.article-list .inner-article-list .article-card h6 {
  margin-top: 10px;
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

.article-list .inner-article-list .article-card h6:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.blog-items {
  border: 1px solid gray;
  border-radius: 20px;
  margin-top: 5rem;
  padding: 0;
}

.blog-items .img-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.blog-items .detailed-author {
  padding: 20px 0 0 20px;
}

.blog-items .article-title h1 {
  padding-left: 20px;
}

.blog-items .comment-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.blog-items .comment-box {
  padding: 5px;
}

.blog-items .comment-area textarea {
  resize: none;
  border: 1px solid #ad9f9f;
}

.blog-items .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ffffff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 1px #000929 !important;
          box-shadow: 0 0 0 1px #000929 !important;
}

.blog-items .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: -4px;
  float: left;
}

.blog-items .rating > input {
  display: none;
}

.blog-items .rating > label {
  position: relative;
  width: 19px;
  font-size: 25px;
  color: #000929;
  cursor: pointer;
}

.blog-items .rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.blog-items .rating > label:hover:before,
.blog-items .rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.blog-items .rating > input:checked ~ label:before {
  opacity: 1;
}

.blog-items .rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}

.contact-field {
  margin: 100px auto;
  height: 40%;
  width: 70%;
  color: white;
}

.contact-field .contact-form {
  padding: 3rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.contact-field .image-contact {
  background: url("../img/contact/contact.jpg");
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.contact-field button {
  color: #fff;
  width: 30%;
  background-color: #A30404;
}

.contact-field button:hover {
  color: white;
}

#body-login-signup {
  overflow: hidden;
}

#body-login-signup .body-login-signup {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#000F43), to(#004D94));
  background-image: linear-gradient(to right, #000F43, #004D94);
  padding-top: 3%;
  /* flip the pane when hovered */
}

#body-login-signup .body-login-signup .container-form {
  height: 85%;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#body-login-signup .body-login-signup .container-form .login-form {
  position: absolute;
  left: -20px;
  width: 70%;
}

#body-login-signup .body-login-signup .container-form .login-form .login-form-inside {
  width: 70%;
  margin: auto;
}

#body-login-signup .body-login-signup .container-form .login-form .login-form-inside input {
  width: 65%;
}

#body-login-signup .body-login-signup .container-form .login-form .login-form-inside input:focus {
  border: 1px solid #000929;
}

#body-login-signup .body-login-signup .container-form .login-form .login-form-inside input[type=button] {
  width: 40%;
}

#body-login-signup .body-login-signup .container-form .login-form .login-form-inside input[type=button]:focus {
  border: 1px solid #000929;
}

#body-login-signup .body-login-signup .container-form .transition-form {
  position: relative;
  right: -70%;
  z-index: 9999999;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0px;
}

#body-login-signup .body-login-signup .container-form .to-sign-up {
  width: 25%;
  position: relative;
  height: 100%;
  background: #000929;
  color: white;
  text-align: center;
  text-indent: .1em;
}

#body-login-signup .body-login-signup .container-form .to-sign-up:before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 10%;
  left: -50%;
  background: inherit;
  border-radius: 10% / 50%;
}

#body-login-signup .body-login-signup .container-form .to-sign-up img {
  position: relative;
  z-index: 99999999;
  width: 40%;
  margin-left: -25%;
}

#body-login-signup .body-login-signup .container-form .to-sign-up h3 {
  position: relative;
  z-index: 99999999;
  margin-left: -25%;
  font-size: 2.3vw;
}

#body-login-signup .body-login-signup .container-form .to-sign-up .effect {
  position: relative;
  z-index: 99999999;
  width: 80%;
  background: #000929;
  border: 1px solid #fff;
  border-radius: 200px;
  margin-top: 20%;
  margin-left: -30%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  /* put your font-family */
  font-size: 18px;
  overflow: hidden;
}

#body-login-signup .body-login-signup .container-form .to-sign-up .effect.effect-inside {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

#body-login-signup .body-login-signup .container-form .to-sign-up .effect.effect-inside:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

#body-login-signup .body-login-signup .container-form .to-sign-up .effect.effect-inside:hover {
  text-indent: 30px;
  background: #fff;
  color: #000929;
}

#body-login-signup .body-login-signup .container-form .to-sign-up .effect.effect-inside:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  text-indent: 0;
  background: #000929;
  color: #fff;
}

#body-login-signup .body-login-signup .container-form .empty-div-form {
  position: relative;
  width: 90vw;
  height: 100%;
  background: #000929;
  border-radius: 0px;
}

#body-login-signup .body-login-signup .container-form .to-login {
  width: 25%;
  position: relative;
  height: 100%;
  background: #000929;
  color: white;
  text-align: center;
  text-indent: .1em;
  border-radius: 10%/50%;
}

#body-login-signup .body-login-signup .container-form .to-login:before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 10%;
  left: -50%;
  background: inherit;
}

#body-login-signup .body-login-signup .container-form .to-login img {
  position: relative;
  z-index: 99999999;
  width: 40%;
  margin-left: -25%;
}

#body-login-signup .body-login-signup .container-form .to-login h3 {
  position: relative;
  z-index: 99999999;
  margin-left: -25%;
  font-size: 2.3vw;
}

#body-login-signup .body-login-signup .container-form .to-login .effect {
  position: relative;
  z-index: 99999999;
  width: 80%;
  background: #000929;
  border: 1px solid #fff;
  border-radius: 200px;
  margin-top: 20%;
  margin-left: -30%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  /* put your font-family */
  font-size: 18px;
  overflow: hidden;
}

#body-login-signup .body-login-signup .container-form .to-login .effect.effect-inside {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

#body-login-signup .body-login-signup .container-form .to-login .effect.effect-inside:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

#body-login-signup .body-login-signup .container-form .to-login .effect.effect-inside:hover {
  text-indent: 30px;
  background: #fff;
  color: #000929;
}

#body-login-signup .body-login-signup .container-form .to-login .effect.effect-inside:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  text-indent: 0;
  background: #000929;
  color: #fff;
}

#body-login-signup .body-login-signup .container-form .sign-up-form {
  margin-top: 50px;
  overflow: hidden;
  position: absolute;
  left: 40%;
  height: 100%;
  width: 40vw;
}

#body-login-signup .body-login-signup .container-form .sign-up-form .signup-page-1, #body-login-signup .body-login-signup .container-form .sign-up-form .signup-page-2, #body-login-signup .body-login-signup .container-form .sign-up-form .signup-page-3, #body-login-signup .body-login-signup .container-form .sign-up-form .signup-page-4 {
  width: 36vw;
  position: absolute;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

#body-login-signup .body-login-signup .container-form .sign-up-form .signup-page-1 {
  left: 0px;
  right: 0px;
}

#body-login-signup .body-login-signup .container-form .sign-up-form .signup-page-1 .phone-number {
  width: 100%;
}

#body-login-signup .body-login-signup .container-form .sign-up-form .signup-page-1 .phone-number .value-phone {
  width: 20%;
}

#body-login-signup .body-login-signup .container-form .sign-up-form .signup-page-1 .phone-number .phone-number-input {
  width: 70%;
}

#body-login-signup .body-login-signup .container-form .sign-up-form .signup-page-2, #body-login-signup .body-login-signup .container-form .sign-up-form .signup-page-3, #body-login-signup .body-login-signup .container-form .sign-up-form .signup-page-4 {
  left: 1200px;
}

#body-login-signup .body-login-signup .card-container {
  margin-bottom: 30px;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  border-radius: 20px;
  /* flip speed goes here */
}

#body-login-signup .body-login-signup .card-container .card {
  border: none;
  -webkit-transition: -webkit-transform .85s;
  transition: -webkit-transform .85s;
  transition: transform .85s;
  transition: transform .85s, -webkit-transform .85s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  background: #FFFFFF;
  border-radius: 20px;
  /* hide back of pane during swap */
  /* front pane, placed above back */
  /* back, initially hidden pane */
}

#body-login-signup .body-login-signup .card-container .card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#body-login-signup .body-login-signup .card-container .card .footer {
  color: white;
  padding: 5px 0 5px 0;
  text-align: center;
  border-radius: 0 0 20px 20px;
}

#body-login-signup .body-login-signup .card-container .card .login-form-mobile, #body-login-signup .body-login-signup .card-container .card .signup-form-mobile {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  border-radius: 4px;
  width: 100%;
  border-radius: 20px;
}

#body-login-signup .body-login-signup .card-container .card .login-form-mobile {
  z-index: 2;
}

#body-login-signup .body-login-signup .card-container .card .signup-form-mobile {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 3;
}

#body-login-signup .body-login-signup .card-container .card .signup-form-mobile .signup-page-1-mobile, #body-login-signup .body-login-signup .card-container .card .signup-form-mobile .signup-page-2-mobile, #body-login-signup .body-login-signup .card-container .card .signup-form-mobile .signup-page-3-mobile, #body-login-signup .body-login-signup .card-container .card .signup-form-mobile .signup-page-4-mobile {
  width: 90%;
  position: absolute;
  top: 150px;
  left: 10px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  border-radius: 20px;
}

#body-login-signup .body-login-signup .card-container .card .signup-form-mobile .signup-page-1-mobile .phone-number .value-phone {
  width: 20%;
}

#body-login-signup .body-login-signup .card-container .card .signup-form-mobile .signup-page-1-mobile .phone-number .number-input {
  width: 70%;
}

#body-login-signup .body-login-signup .card-container .card .signup-form-mobile .signup-page-2-mobile, #body-login-signup .body-login-signup .card-container .card .signup-form-mobile .signup-page-3-mobile, #body-login-signup .body-login-signup .card-container .card .signup-form-mobile .signup-page-4-mobile {
  left: 800px;
}

#body-login-signup .body-login-signup .card-container .card .signup-form-mobile .footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
}

#body-login-signup .body-login-signup .card-container .card .btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  font-family: inherit;
  font-weight: 100;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

#body-login-signup .body-login-signup .card-container .card .btn-rotate {
  color: #212529;
  background-color: #ddd;
}

#body-login-signup .body-login-signup .card-container .card .btn-rotate:hover {
  color: #212529;
  background-color: #ccc;
}

#body-login-signup .body-login-signup .card-container .card .btn-rotate:focus {
  outline: none;
  border: none;
}

#body-login-signup .body-login-signup .card-container .card .btn-submit {
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  text-transform: uppercase;
  color: #212529;
  font-weight: bold;
  background-color: #809BE0;
}

#body-login-signup .body-login-signup .card-container .card .btn-submit:hover {
  color: #212529;
  background-color: #4D8CDE;
}

#body-login-signup .body-login-signup .card-container .card .btn-submit:focus {
  outline: none;
  border: none;
}

#body-login-signup .body-login-signup .card-container .card form {
  width: 100%;
}

#body-login-signup .body-login-signup .card-container .card .see-password {
  position: absolute;
  right: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}

#body-login-signup .body-login-signup .card-container .card .group input {
  padding-right: 40px;
}

#body-login-signup .body-login-signup .card-container.rotate .card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media screen and (max-width: 670px) {
  body {
    overflow: hidden;
  }
}

/* Progressbar */
.progressbar, .progressbar-mobile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 2rem;
}

.progressbar::before,
.progress, .progressbar-mobile::before,
.progress-mobile {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: white;
  z-index: -1;
}

.progress, .progress-mobile {
  background-color: #000929;
  width: 0%;
  z-index: 1;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.progress-step, .progress-step-mobile {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: white;
  color: #000929;
  border: 1px solid #000929;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.progress-step::before, .progress-step-mobile::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after, .progress-step-mobile::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: white;
}

.progress-step-active, .progress-step-active-mobile {
  background-color: #000929;
  color: white;
}

@media only screen and (max-width: 479px) {
  .owl-buttons {
    bottom: 30%;
  }
}

@media screen and (max-width: 600px) {
  .learning-path {
    margin-top: 5px;
    height: 350px;
    padding-top: 0rem;
    overflow: scroll;
  }
  .banner {
    padding-top: 20%;
    height: 60vh;
    margin-bottom: 0px;
  }
  .banner img {
    width: 100%;
  }
  .web-path img, .android-path img, .ui-ux-path img, .data-science-path img {
    width: 200px;
  }
  .web-path .list-every-path .the-list, .android-path .list-every-path .the-list, .ui-ux-path .list-every-path .the-list, .data-science-path .list-every-path .the-list {
    width: 80%;
  }
  .member .col-md-3 {
    width: 50%;
  }
  .member .col-md-3 h4 {
    font-size: 1rem;
  }
  .contact-field {
    width: 90%;
    height: 70%;
  }
  .contact-field .contact-form {
    border-radius: 20px;
  }
  .contact-field .contact-form button {
    width: 80%;
  }
}

@media screen and (max-width: 765px) {
  .contact-form {
    border-radius: 20px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1080px) {
  .banner {
    height: 50vh;
  }
  .icon-gradasi {
    width: 100px;
  }
  .web-path h1, .android-path h1, .ui-ux-path h1, .data-science-path h1 {
    font-size: 1.5rem;
  }
  .web-path img, .android-path img, .ui-ux-path img, .data-science-path img {
    width: 60%;
  }
}

/* Google Font Link */
body {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.not-visible {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.bg-main {
  background-color: #000929;
}

.btn-active {
  background-color: #000929;
  color: white;
}

.btn-active:hover {
  background-color: #00061b;
  color: white;
  cursor: pointer;
}

.btn-outline-active {
  background-color: white;
  color: #000929;
  border: 1px solid #000929;
}

.btn-outline-active:hover {
  background-color: #00061b;
  color: white;
  cursor: pointer;
}

.red-color-text {
  color: #A30404;
}

.btn-white {
  background-color: #fff;
  color: var(--main-color);
}

.btn-outline-white {
  background-color: #000929;
  color: white;
  border: 1px solid white;
}

.btn-outline-white:hover {
  background-color: white;
  color: #000929;
  cursor: pointer;
}

.text-to-center {
  text-align: center;
}

.margin-auto {
  margin: 0px auto;
}

.myBtn {
  height: 2.5rem;
  width: 8rem;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #00061b;
          box-shadow: inset 0 0 6px #00061b;
  background-color: #000929;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #000929;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #03e0de), color-stop(0.72, #0bb0c7), color-stop(0.86, #1094b9));
}

.rotate-180-deg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-item {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.nav-item svg {
  color: white;
}

.nav-item:hover {
  cursor: pointer;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler-icon:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  background-color: #fff;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.learning-path {
  background-color: #fff;
  color: #000929;
  width: 100%;
  height: 60vh;
  padding-top: 5rem;
}

.learning-path h2:hover, .learning-path h6:hover {
  cursor: pointer;
}

.shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ECECEC;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
}

.footer {
  background: #00061b;
}

.footer .logo-needed img {
  width: 40px;
  margin: 0 10px 0 10px;
}

.profile-image-sm {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body {
  overflow-y: visible;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #000929;
  padding: 6px 14px;
  z-index: 99;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .logo-details {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.sidebar .logo-details img {
  width: 20px;
  margin-right: 10px;
}

.sidebar .logo-details .icon {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 22px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar .nav-list li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar .nav-list li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidebar .nav-list li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  -webkit-transition: 0s;
  transition: 0s;
}

.sidebar .nav-list li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar .nav-list li .sidebar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #000929;
}

.sidebar .nav-list li .sidebar-menu:hover {
  background: #fff;
  cursor: pointer;
}

.sidebar .nav-list li .sidebar-menu:hover .links_name, .sidebar .nav-list li .sidebar-menu:hover i {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #00061b;
}

.sidebar .nav-list li .sidebar-menu .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sidebar .nav-list li.logout {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #00061b;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar .nav-list li.logout #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #00061b;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar.open .logo-details .icon {
  opacity: 1;
}

.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar.open li .sidebar-menu .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar.open li.logout {
  width: 250px;
}

.sidebar.open li.logout #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
  padding-top: 50px;
}

.home-section .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.home-section .navigation .nav-group {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.home-section .navigation .nav-group svg {
  height: 30px;
}

.home-section .navigation .nav-group svg, .home-section .navigation .nav-group img {
  margin: 10px;
}

.home-section .navigation .nav-group svg:hover, .home-section .navigation .nav-group img:hover {
  cursor: pointer;
}

.home-section .menu-tools {
  margin: 30px 0;
}

.home-section .menu-tools h3 {
  margin-left: 30px;
}

.home-section .menu-tools .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 95%;
  margin: 0px auto;
}

.home-section .menu-tools .tools div {
  margin-top: 6px;
}

.home-section .menu-tools .tools .search {
  background: #fff;
  border-radius: 50px;
  border: 1px solid #000929;
  padding: 0 1%;
}

.home-section .menu-tools .tools .search input {
  border: none;
  background: transparent;
}

.home-section .menu-tools .tools .search input:focus {
  outline: none;
}

.home-section .course-offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home-section .course-offers .course-item {
  height: 360px;
  width: 300px;
  margin: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.home-section .course-offers .course-item:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.home-section .course-offers .course-item img {
  width: 280px;
  height: 250px;
  display: block;
  margin: 10px auto;
  border-radius: 20px;
}

.home-section .course-offers .course-item h4, .home-section .course-offers .course-item span, .home-section .course-offers .course-item p {
  margin-left: 10px;
}

.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: black;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.appear-when-hover {
  position: absolute;
  background-color: #fff;
  z-index: 9999;
  top: 50px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.appear-when-hover span {
  line-height: 80px;
}

.appear-when-hover span svg {
  height: 15px;
}

.appear-when-hover div {
  height: 80px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.appear-when-hover div:nth-child(1) {
  width: 200px;
}

.appear-when-hover div:nth-child(2) {
  width: 300px;
}

.appear-when-hover div:nth-child(3) {
  width: 200px;
  height: 150px;
}

.appear-when-hover div:nth-child(3) .profile-group {
  height: 70px;
  padding-bottom: 10px;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.appear-when-hover div:nth-child(3) .profile-group .name {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.appear-when-hover div:nth-child(3) .profile-group .level {
  margin: 0px;
  padding: 0;
  height: 30px;
  line-height: normal;
  text-align: center;
}

.appear-when-hover div:nth-child(3) .profile-group .xp {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.appear-when-hover div:nth-child(3) div:nth-child(2) {
  width: 200px;
  background: #fff;
  height: 40px;
  line-height: 40px;
}

.appear-when-hover div:nth-child(3) div:nth-child(2):hover {
  cursor: pointer;
  background: #cacaca;
}

.appear-when-hover div:nth-child(3) .exit {
  height: 40px;
  text-align: center;
  line-height: 40px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fff;
}

.appear-when-hover div:nth-child(3) .exit:hover {
  cursor: pointer;
  background: #cacaca;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
  .menu-tools h3 {
    margin: 0;
  }
}

.my-learning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.my-learning .learning-list {
  height: 380px;
  width: 300px;
  margin: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.my-learning .learning-list img {
  height: 250px;
  width: 280px;
  display: block;
  margin: 10px auto;
  border-radius: 20px;
}

.my-learning .learning-list h4 {
  margin: 10px 0 10px 10px;
}

.my-learning .learning-list .progress-bar {
  height: 3px;
  width: 280px;
  background-color: #cacaca;
  margin: 0px auto;
  overflow: hidden;
}

.my-learning .learning-list .progress-bar span {
  display: block;
}

.my-learning .learning-list .progress-bar .bar {
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#00061b), to(#000d3b));
  background-image: linear-gradient(to right, #00061b, #000d3b);
}

.my-learning .learning-list .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  padding: 10px;
}

.my-learning .learning-list .action span {
  font-size: 0.8rem;
}

.my-learning .learning-list .action .continue-learning {
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 5px;
}

.challenge-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.challenge-list .challenge-item {
  height: 260px;
  width: 300px;
  margin: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.challenge-list .challenge-item img {
  display: block;
  width: 280px;
  margin: 10px auto;
  border-radius: 20px;
}

.challenge-list .challenge-item h4 {
  margin-left: 10px;
}

.challenge-list .challenge-item .start-challenge {
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 5px;
  float: right;
  clear: both;
  margin-right: 10px;
  position: relative;
  bottom: -10px;
}

.forum-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forum-list .forum-item {
  height: 170px;
  width: 90%;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forum-list .forum-item .left-side {
  padding: 10px;
}

.forum-list .forum-item .left-side .owner {
  font-size: 0.9rem;
  font-weight: lighter;
}

.forum-list .forum-item .right-side {
  padding: 10px;
}

.forum-list .forum-item .right-side .keywords span {
  background-color: #e0e0e0;
}

@media screen and (max-width: 785px) {
  .forum-item {
    width: 90%;
    height: 200px;
  }
}

.setting-heading {
  margin-left: 5%;
}

.setting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.setting-list .setting-item {
  width: 40%;
  margin-left: 5%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.setting-list .setting-item input, .setting-list .setting-item select {
  height: 40px;
}

.setting-list .photo-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.setting-list .photo-setting div .photo-upload {
  height: 70px;
  width: 70px;
  border: 1px solid #00061b;
}

.setting-list .photo-setting div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 0 0 10px 10px;
}

.setting-list .photo-setting div:nth-child(2) .upload-photo {
  width: 140px;
  border: none;
  height: 40px;
}

.setting-list .phone-number-setting input:first-child {
  width: 20%;
}

.setting-list .phone-number-setting input:nth-child(2) {
  width: 70%;
  float: right;
  clear: both;
}

.setting-list .place-birth-setting input {
  margin-top: 5px;
}

.setting-list .buttons-setting button {
  width: 100px;
  border: none;
  height: 40px;
}

@media screen and (max-width: 765px) {
  .setting-list .setting-item {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */